* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'LifeCraft';
    src: URL('LifeCraft.ttf') format('truetype');
}

body {
    height: 100%;
    background-image: url(https://wow.zamimg.com/uploads/screenshots/normal/1059910.jpg);
    /* background-image: url(/img/wow-bg-1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.wrapper {
    font-family: "LifeCraft";
    letter-spacing: 3px;
    text-shadow: 5px 5px 10px #000;
    position: absolute;
    padding: 2rem;
    top: 30vh;
    left: 40vw;
    max-width: 25vw;
    height: 40vh;
    background-color: rgba(0, 26, 27, 0.6);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    border: rgb(182, 187, 212) 3px solid;
    box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.8);
}

#greeting {
    font-size: 4vh;
    margin-bottom: 20px;
}

.search {
    overflow: hidden;
}

.search input {
    font-family: 'Lifecraft';
    letter-spacing: 3px;
    font-size: 1.2rem;
    width: 80%;
    border: none;
    border-bottom: 3px solid rgb(182, 187, 212);
    padding-bottom: 10px;
    background-color: transparent;
    color: #fff;
    outline: 0;
    margin-bottom: 20px;
}

.search input::placeholder {
    opacity: 1;
    color: #fff;
}

#time,
#date {
    font-size: 2.8vh;
}

.links {
    display: flex;
}

.link {
    min-width: 50px;
    width: 6vh;
    display: flex;
    padding: 15px 0;
    border-bottom: transparent 3px solid;
    transition: ease-in-out .2s;
}

.link:hover {
    border-bottom: 3px solid rgb(182, 187, 212);
}

.link a {
    font-size: 1.8vh;
    text-decoration: none;
    width: 100%;
    display: flex;
}

.link a img {
    max-width: 3.5vw;
    max-height: 3.5vh;
    margin: auto;
}