* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'LifeCraft';
    src: URL('LifeCraft.ttf') format('truetype');
  }

body {
    height: 100%;
    background-image: url(/wow-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "LifeCraft";
    letter-spacing: 3px;
}

.wrapper {
    position: absolute;
    padding: 2rem;
    top: 30vh;
    left: 40vw;
    width: 20vw;
    height: 40vh;
    background-color: rgb(0, 0, 0, .7);
    border-radius: 5vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

#greeting {
    font-size: 3.5vh;
}

#time, #date {
    font-size: 2.8vh;
}

.links {
    display: flex;
}

.link {
    margin: 1rem 0;
}

.link a {
    font-size: 1.8vh;
    text-decoration: none;
    color: #fff;
}

.link a img {
    max-width: 80px;
    max-height: 60px;
    margin: 0 10px;
}